body {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
}



.top-section {
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 96px 0;
}

.header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 800;
}

.hero {
  width: 70%;
  margin-top: 96px;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
}

.header a, .introduction .text-secondary {
  color: #b9babc;
  font-size: 18px;
  font-weight: 100;
}

.header a:hover {
  color:#db9d0d
}

.text-button-container .text-primary {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.text-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.text-button-container button {
  color: #f9faf8;
  font-weight: 900;
  background-color: #db9d0d;
  border: 1px solid #db9d0d;
  border-radius: 4px;
  margin-right: auto;
  padding: 6px 24px;
}

/* make wrapper same size as text-button container,
but not smaller than 300px */
.wrapper  {
  min-width: 300px;
  flex: 1;
}

/* make sure the img doesn't overflow the wrapper */
.wrapper img {
  width: 100%;
}