body {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
}

.top-section {
  background-color: #222831;
  color: white;
}

.hero {
  padding: 24px 150px 48px 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 800;
}

.introduction {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
}

.header a, .introduction .text-secondary {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
}

.text-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.text-button-container .text-primary {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.text-button-container button {
  color: #f9faf8;
  background-color: #00ADB5;
  border: 1px solid #00ADB5;
  border-radius: 4px;
  margin-right: auto;
  padding: 6px 24px;
}

.introduction img {
  flex: 1;
}