body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
}

.top-section {
  background-color: #222831;
  color: white;
}

.hero {
  padding: 0 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 800;
}

.header a, .introduction .text {
  color: #e5e7eb;
  font-size: 18px;
}